/*
Base

A base style sheet

body - element

Markup:
<div class="{$modifiers}">Base</div>

Styleguide 1.0
*/


@import 'components/buttons';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
}